<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("https://img.freepik.com/free-vector/hand-drawn-minimal-background_23-2149010465.jpg?w=2000");
            background-size: cover; /* Resmi ekran boyutuna sığdırır, kesme olabilir */
            background-repeat: no-repeat; /* Tekrar etmemesini sağlar */
            background-attachment: fixed; /* Sayfa kaydırıldığında sabit kalır */
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.Web.styles.css" asp-append-version="true" />
    <link href="c:\users\dell\desktop\todolist\todolist.web\views\shared\_layout.cshtml.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
